{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h4 class="mb-4 text-center">Stock Movement</h4>

    <a href="/database_admin/fetch-firebase" class="btn btn-success mb-3">Fetch from Firebase</a>

    <div class="card shadow-sm p-4">
        <div class="table-responsive"></div>
        <table class="table table-hover table-striped text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>RFID Tag</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stock_movements %}
                <tr>
                    <td>{{ stock.rfid_tag }}</td>
                    <td>{{ stock.product_name }}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>
                        {% if stock.action == "IN" %}
                        <span class="badge badge-success">IN</span>
                        {% else %}
                        <span class="badge badge-danger">OUT</span>
                        {% endif %}
                    </td>
                    <td>{{ stock.timestamp_in|default:stock.timestamp_out }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}